<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Legal Note", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left" style="margin-left:100px;">
          <li><%= link_to "Action List",  '#' ,:style => "color:white"  %></li>
          <li><%= link_to "Partners",   '#'  %></li>
          <li><%= link_to "Clients", '#' %></li>
					<li><%= link_to "Forms", '#' %></li>
        </ul>
      </nav>
			<nav>
        <ul class="nav pull-right">
          <li><%= link_to "Vinny Gambini", '#', :style => "color:white"   %></li>
          <li><%= link_to "Help",   '#'  %></li>
          <li><%= link_to "Sign out", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>